<a href="https://colab.research.google.com/github/vrspi/PremierLeague/blob/main/PremierLeague.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from dateutil import parser


from datetime import datetime

Dataset = pd.read_csv("results.csv",encoding='windows-1252')
Dataset["DateTime"]=Dataset["DateTime"].apply(lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%SZ'))
Dataset["DateTime"] = Dataset["DateTime"].dt.date
Dataset.insert(0,'Year',Dataset["DateTime"].apply(lambda datetime : datetime.year))
Dataset.insert(0,'Month',Dataset["DateTime"].apply(lambda datetime : datetime.month))
Dataset.insert(0,'Day',Dataset["DateTime"].apply(lambda datetime : datetime.day))
Dataset.drop(['DateTime', 'Season'], axis=1, inplace=True)
Dataset['Match Goals'] = Dataset.iloc[:,5].values+Dataset.iloc[:,6].values
Dataset.drop(['FTHG','FTAG','FTR','HTHG','HTAG','HTR','Referee','HS','AS','HST','AST','HC','AC','HF','AF','HY','AY','HR','AR'], axis=1, inplace=True)




print(Dataset)

       Day  Month  Year        HomeTeam        AwayTeam  Match Goals
0       14      8  1993         Arsenal        Coventry            3
1       14      8  1993     Aston Villa             QPR            5
2       14      8  1993         Chelsea       Blackburn            3
3       14      8  1993       Liverpool  Sheffield Weds            2
4       14      8  1993        Man City           Leeds            2
...    ...    ...   ...             ...             ...          ...
10869    2     10  2021        Brighton         Arsenal            0
10870    3     10  2021  Crystal Palace       Leicester            4
10871    3     10  2021       Tottenham     Aston Villa            3
10872    3     10  2021        West Ham       Brentford            3
10873    3     10  2021       Liverpool        Man City            4

[10874 rows x 6 columns]